{% extends "base.html" %}
{% block body %}
<h1>Register</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
<form method="POST" action="{{ url_for('register') }}">
{{ form.csrf_token }}
<p>
    {% for field in form if ield.name not in ["csrf_token", "submit"] %}
    <p>{{ field.label }}<br>
    {{ field(size=32) }}
            {% for error in field.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
    </p>
    {% endif %}
    {% endfor %}
    <p>
    {{ form.submit() }}
    </p>
</form>
{% endblock %}